node_modules/
lib/
dist/
.DS_Store
*.log
.env
apps/
app/android/

app/amadeus-android/app/build/
app/amadeus-android/.gradle/
app/amadeus-android/.kotlin/
app/amadeus-android/app/.cxx/
app/amadeus-android/build/
app/amadeus-android/local.properties
